{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>make it stick - Book Reviews</title>
        <link rel="stylesheet" href="{% static "blog-post.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <span>
                <a href="main.html">Back to list</a>
            </span>
            <span>
                <a href=create.html>Create a review</a>
            </span>
        </header>
        <main>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ post.cover_image }}">
                <h2 class="book-title">
                  <a href="detail.html">{{ post.title }}</a>
                </h2>
                <div class="book-rating">{{ post.rating }} stars</div>
                <div class="book-authors">
                  {{ post.authors }}
                </div>
                <h3>Summary</h3>
                <p>
                  {{ post.summary }}
                </p>
                <h2>My review</h2>
                <p>
                  {{ post.review }}
                </p>
              </div>
        </main>
        <footer>
            <div>Copyright 2022 by me</div> 
            <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
        </footer>
    </body>
</html>