{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Reviews</title>
        <link rel="stylesheet" href="{% static "blog-post.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "create_post" %}">Create a review</a>
              </nav>
        </header>
        <main>
            {% for post in posts %}
            <div class = "main-page-book-review">
                <img src="{{ post.cover_image }}" class ="book-cover">
                <h2 class="book-title">
                    <a href={% url "post_detail" post.id %}>{{ post.title }}</a>
                </h2>
                <div>{{ post.rating }}</div>
                <div class="book-author">{{ post.authors }}</div>
                <h3>Summary</h3>
                <p>{{ post.summary }}</p>
            </div>
            {% endfor %}
        </main>
        <footer>
            <div>Copyright 2022 by me</div> 
            <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
        </footer>
    </body>
</html>